---
import Main from '../components/layouts/Main.astro';
---

<Main>
  <section
    class="container my-10 flex flex-col-reverse md:flex-row flex-wrap gap-3 md:justify-center"
  >
    <img
      class="flex-auto w-full max-w-sm"
      src="/images/LukeBouch02.png"
      alt="Luke Bouch"
    />
    <div class="flex-1 mt-10">
      <h1 class="text-xl md:text-3xl">Message sent successfully.</h1>
      <p>
        I look forward to discussing with you how I can help you grow
        your business!
      </p>
      <a href="/" class="inline-block px-4 py-2 mr-2 mb-2 text-center font-medium text-white bg-blue border-blue border-2">Back Home</a>
    </div>
  </section>
</Main>
